
        <!-- Footer -->
        <footer class="footer-background">
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2020 Copyright: Hitaraku
          </div>
          <!-- Copyright -->
        </footer>
      
    </body>
</html>