<% include partials/header %>

    <div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Not Found 404.</h1>
            <p>お探しのページは見つかりませんでした。</p>
        </div>
    </header>
    </div>

<% include partials/footer %>